# 处理尝试

## 预处理

In [50]:
import pandas as pd
import time

In [51]:
num = 6
DataFilePath = f'../data/美丽中国 - {num}.json'
OutFilePath = f'../data/episode{num}.pkl'

## 数据读取

In [52]:
data = pd.read_json(DataFilePath)

## 函数工具

In [53]:
def get_new_path(old_path, new_tag):
    path_list = old_path.split('.')
    path_list[0] += new_tag
    return '.'.join(path_list)

## 数据处理

In [54]:
data = data[data['progress'].notna()]
data.sort_values(by='progress',inplace=True)
data = data.reset_index(drop=True)
data['progress'] = data['progress'].astype('Int64')

In [55]:
# time_step = 30*1000
# bin = range(0, data['progress'].iloc[-1]+time_step, time_step)
# data['progress_group']=pd.cut(data['progress'],bin,right=False)

In [56]:
# data.groupby('progress_group').agg('count')

## 数据展示

In [57]:
data

,id,progress,mode,fontsize,color,midHash,content,ctime,weight,idStr,attr
0,22386026610688000,338,1,25,15138834,dd96fbd7,高二一班前来报道,1569840132,9,22386026610688000,NaN
1,19895221580988420,4940,1,25,16777215,e689c145,任家路中学来报道,1565089298,8,19895221580988420,NaN
2,44205748360577030,4940,1,25,16777215,a0a10a05,最喜欢海,1611457948,1,44205748360577032,NaN
3,46428083725008900,5039,1,25,11890,c4da4e5a,最后一集,1615696717,5,46428083725008896,NaN
4,19482071511597056,5838,1,25,16777215,bbb8eed4,大家好，我是沙雕大队长,1564301277,1,19482071511597056,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1589,23959935321112576,3352423,1,25,16777215,42206543,我爱这片土地爱得深沉,1572842124,11,23959935321112576,NaN
1590,53346439952292350,3355298,1,25,15138834,352e3bb6,21.8.13xxy,1628841459,1,53346439952292352,NaN
1591,22283903581028356,3359382,1,25,16777215,27d3643a,我和我的祖国,1569645348,10,22283903581028356,NaN
1592,30168976436756484,3360281,1,25,16777215,6acb0f0e,我爱中国,1584684931,5,30168976436756484,NaN
1593,22378729717628930,3360283,1,25,16777215,8767eea6,祖国七十,1569826214,11,22378729717628928,NaN

## 数据保存

In [58]:
data.to_pickle(OutFilePath)